<div class="types-inspection-container">
  <div class="header">
    <h2>Types d'inspection ({{ isLoading ? '...' : typesInspection.length }})</h2>
    <button mat-raised-button color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Nouveau type
    </button>
  </div>
  
  <div class="content">
    <div *ngIf="isLoading" class="loading-spinner">
      <mat-spinner diameter="50"></mat-spinner>
      <p>Chargement des données...</p>
    </div>

    <div *ngIf="!isLoading">
      <mat-table [dataSource]="typesInspection" *ngIf="typesInspection.length > 0; else noData">
        
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef> Nom du type </th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>
  
        <ng-container matColumnDef="frequence">
          <th mat-header-cell *matHeaderCellDef> Fréquence </th>
          <td mat-cell *matCellDef="let element"> {{ getFrequenceLabel(element.frequence) }} </td>
        </ng-container>
  
        <ng-container matColumnDef="groupe">
          <th mat-header-cell *matHeaderCellDef> Groupe </th>
          <td mat-cell *matCellDef="let element"> {{ element.groupe?.nom || 'N/A' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="famille">
          <th mat-header-cell *matHeaderCellDef> Famille </th>
          <td mat-cell *matCellDef="let element"> {{ element.groupe?.famille?.nom || 'N/A' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef align="right"> Actions </th>
          <td mat-cell *matCellDef="let element" align="right">
            <button mat-icon-button color="primary" (click)="openDialog(element)" matTooltip="Modifier">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="confirmAndDeleteType(element)" matTooltip="Supprimer">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>
      
      <ng-template #noData>
        <div class="no-data">
          <p>Aucun type d'inspection configuré. Cliquez sur "Nouveau type" pour commencer.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>